.admin-editor-main-div {
  margin-top: 2rem;
  width: 100%;
}
.admin-editor-inner-div {
  width: 100%;
}
.admin-editor-title-div {
  padding: 0rem 0rem 2rem 2rem;
}
.admin-editor-title {
  font-size: 1.3rem;
  font-weight: bold;
  padding: 1rem;
}
.admin-editor-input {
  width: 50%;
  padding: 0.5rem;
}
.admin-editor-div {
  margin: 2px;
  border-style: solid;
  border-width: 2px;
  border-color: #ddd;
}
.admin-editor-button-div {
  display: flex;
  justify-content: space-between;
  background-color: #222;
}
.admin-editor-button {
  padding: 1rem;
  width: 100%;
  margin: 10px;
  transition-duration: 0.4s;
  border-style: solid;
  background-color: transparent;
  border-color: #eba95e;
  color: #eba95e;
  font-weight: bold;
  font-size: 1.1rem;
}
.admin-editor-button:hover {
  background-color: #df9a4b;
  color: #fff;
  cursor: pointer;
}
