.list-item-main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem 1rem 1rem;
}
.list-item-inner-div {
  width: 90vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr));
  justify-items: center;
}
.list-item-wrapper {
  margin: 1rem 0rem 1rem 0rem;
  min-width: 200px;
  width: 25vw;
  height: 450px;
  display: flex;
  flex-direction: column;
  transition-duration: 0.4s;
  justify-content: space-between;
  align-items: center;
  background-color: #eba95e;
  cursor: default;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(51, 51, 51);
  border-radius: 1rem;
}
.list-item-wrapper:nth-child(even) {
  background-color: #ddd;
}
.list-item-wrapper:nth-child(even):hover {
  background-color: #ccc;
}
.list-item-wrapper:hover {
  background-color: #df9a4b;
}
.list-item-title {
  font-size: 1;
  font-weight: bold;
  width: 100%;
  margin-bottom: 0.5rem;
  text-align: center;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-color: rgb(51, 51, 51);
}
.list-item-image-div {
  height: 10em;
  width: 10em;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.list-item-image {
  width: auto;
  height: 100%;
}
.list-item-content {
  font-size: 0.9rem;
  flex: 3;
  padding: 0.5rem 2rem 0.5rem 2rem;
}
.read-more {
  bottom: 1.2rem;
  font-size: 1.1rem;
  transition-duration: 0.4s;
  padding: 0.5rem;
  font-weight: bold;
}
.read-more:hover {
  cursor: pointer;
  font-size: 1.2rem;
}
.list-item-choose {
  flex: 1;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.3rem;
  color: inherit;
  border-style: solid;
  padding-top: 0.5rem;
  border-width: 1px 0px 0px 0px;
  border-color: #999;
}
.list-item-choose-button {
  flex: 1;
  height: 100%;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-style: solid;
  border-width: 1px;
  border-radius: 1rem;
  margin: 0.3rem;
  transition-duration: 0.4s;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  color: transparent;
  border-color: transparent;
}
.list-item-highlight-button {
  background-image: url("../assets/highlight.png");
}
.list-item-delete-button {
  background-image: url("../assets/delete.png");
}
.list-item-edit-button {
  background-image: url("../assets/edit.png");
}
.list-item-highlight-button:hover {
  background-color: #16b345;
  color: #111;
  border-color: #16b345;
  background-size: 0%;
}
.list-item-delete-button:hover {
  background-color: #e23535;
  color: #111;
  border-color: #e23535;
  background-size: 0%;
}
.list-item-edit-button:hover {
  background-color: #4242d6;
  color: #111;
  border-color: #4242d6;
  background-size: 0%;
}
.list-item-highlighted {
  padding: 10px;
  font-size: 0.8rem;
  font-weight: bold;
  color: #0c7c2e;
}
