.placeholder-ul {
  visibility: hidden;
}
.placeholder-li:hover {
  background: #f1f1f1;
}
.display-product {
  padding: 1rem;
  border-style: dashed;
  border-width: 2px;
  border-radius: 1rem;
  border-color: #999;
  background-color: #fff;
  margin: 5px;
}
.display-product-preview {
  width: calc(100vw - 80px);
}

.article-desc {
  font-size: 0.9rem;
  font-style: italic;
  font-weight: bold;
}
