/* @font-face {
  font-family: "RnC";
  src: url("/fonts/R&C-Demo.otf");
} */

body {
  margin: 0px 0px 0px 0px;
}

.header-wrapper {
  user-select: none;
  background-color: #222;
  display: flex;
  flex-direction: row;
  height: 8rem;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0rem 2rem 0rem 2rem;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #ddd;
}

.menubar-wrapper {
  background-color: #df9a4b;
  display: flex;
  flex-direction: row;
  height: 2.5rem;
  align-items: flex-end;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-color: #222;
}

.header-logo-wrapper {
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.2em;
}
.header-logo {
  font-size: 3rem;
  margin-bottom: 0px;
  font-weight: bold;
  cursor: pointer;
  width: fit-content;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffcd94;
}
.header-logo:hover {
  opacity: 0.9;
}
.header-nav-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.header-nav {
  text-align: center;
  height: 100%;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #222;
  font-size: 0.8rem;
  font-weight: bold;
  color: white;
  transition-duration: 0.4s;
}

.header-nav:link {
  text-decoration: none;
}

.header-nav:hover,
.header-active::after {
  color: #111;
  opacity: 0.9;
  cursor: pointer;
  padding: 0px 5px 0px 5px;
  background-color: #ffcd9477;
}
.active-nav {
  color: #111;
  padding: 0px 5px 0px 5px;
  background-color: #ffcd94;
}

.home-wrapper {
  min-height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.quotes-div {
  height: 7rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.quotes-itself {
  font-size: 2rem;
  padding: 0rem 10rem 0rem 10rem;
  width: 100%;
  color: #222;
  font-weight: bold;
  text-align: left;
}
.home-content-div {
  padding: 2rem 10rem 5rem 10rem;
  text-align: justify;
}
.footer {
  background-color: #fff;
  color: #000;
  padding: 4rem;
}

.dummy-obj {
  height: 600px;
  width: 100%;
  background-color: #ddd;
  color: #ddd;
}
.dropdown-child {
  border-style: solid;
  border-width: 0px 0px 0px 2px;
  border-color: #ddd;
  padding-left: 10px;
  color: #222;
}
.dropdown-child:hover {
  background-color: #ddd;
  color: #222;
  text-decoration: none;
}
.footer-img {
  margin: 0 0 0 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.mobile-nav:link {
  text-decoration: none;
}

.mobile-nav {
  color: #ddd;
  min-height: 6vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  background-color: rgb(87, 85, 85, 0.2);
}
.mobile-nav:hover,
.mobile-nav-child:hover {
  text-decoration: none;
  color: #aaa;
  background-color: #111;
}
.mobile-nav-child {
  color: #ddd;
  min-height: 2rem;
  font-size: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 2rem;
}
.active-mobile-nav {
  color: #111;
  padding: 0px 5px 0px 5px;
  background-color: #ffcd94;
}
.content-page {
  min-height: 90vh;
}
.footer-logo {
  height: 3rem;
  width: auto;
  padding: 0rem 2rem 0rem 2rem;
  cursor: pointer;
}
.footer-support {
  font-weight: bold;
  text-align: center;
  font-size: 0.8rem;
  padding: 2rem 2rem 2rem 3rem;
}
.modal-body {
  background-color: rgb(87, 85, 85, 0.2);
  align-items: center;
  justify-content: center;
  width: 100%;
}

.modal-text {
  color: white;
  font-weight: bold;
  font-size: 1em;
}

.modal-header {
}

.home-sponsored-div {
  width: 100%;
  padding: 0rem 5rem 0rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.coming-soon {
  min-height: 90vh;
  width: 100%;
  display: flex;
  font-size: 2rem;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

.about-main-div,
.contact-main-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.about-title {
  padding: 2rem 0rem 0rem 3rem;
  font-size: 1.5rem;
  font-weight: bold;
}
.about-img-div,
.about-content-div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 5rem;
}
.about-img-div {
  flex: 1;
}
.about-content-div {
  flex: 2;
}
.about-content {
  text-align: justify;
  width: 90%;
}
.about-img {
  height: auto;
  width: 75%;
}
.contact-content-div,
.contact-form-div {
  flex: 1;
  padding-top: 5rem;
}
.contact-content-title,
.contact-content-footer,
.contact-content {
  padding: 0rem 5rem 0rem 5rem;
  text-align: justify;
}
.contact-content-title {
  font-weight: bold;
  font-size: 1.2rem;
  padding-bottom: 1rem;
}
.contact-content {
  padding-bottom: 1rem;
}
.contact-content-footer {
  font-style: italic;
}
.contact-form-label {
  font-size: 0.8rem;
  font-weight: bold;
}
.contact-form-div {
  display: flex;
  flex-direction: column;
}
.contact-form-input {
  width: 90%;
  padding: 6px 10px;
  margin: 4px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #aaa;
}
.contact-form-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.contact-form-input:focus {
  outline: none;
}
.contact-form-input-msg {
  outline: auto;
  height: 200px;
}
.contact-form-input-subject,
.contact-form-input-subject:focus,
.contact-form-input-msg:focus {
  outline: auto;
}
.button-submit {
  background-color: #ddd;
  padding: 10px 0px 10px 0px;
  font-weight: bold;
}
.button-submit:hover {
  background-color: #aaa;
}

/*Homepage*/

.homepage-welcome-div {
  background-image: url("../assets/c3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
  background-color: #eba95e;
  color: #fff;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.4s;
  cursor: default;
  font-size: 2rem;
  user-select: none;
}
.homepage-welcome-div:hover {
  background-image: url("../assets/ctestt2.png");
  background-color: #ddd;
  color: rgba(0, 0, 0, 0);
}

.highlight-main-div {
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.highlight-inner-div {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.highlight-content {
  flex: 1;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #666;
  border-style: solid;
  border-width: 3px;
}
.highlight-content:nth-last-child(odd) {
  background-color: #eba95e;
  border-color: #111;
}
.highlight-content:nth-last-child(even) {
  color: #ddd;
  border-color: #ddd;
}
.highlight-content-title {
  flex: 1;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.highlight-content-details {
  flex: 1;
  font-size: 1.1rem;
  padding: 0rem 1rem 1rem 1rem;
  text-align: justify;
}
.highlight-content-img {
  transition-duration: 0.6s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 600px;
  background-color: #dddddd99;
}
.highlight-content-img:hover {
  opacity: 0.9;
}
.highlight-img {
  max-width: 100%;
  max-height: 100%;
}

.homepage-more-div {
  background-image: url("../assets/c2bef.png");
  background-size: cover;
  background-position: center;
  height: 400px;
  background-color: #222;
  color: #fff;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.4s;
  cursor: default;
  font-size: 2rem;
  user-select: none;
}
.homepage-more-div:hover {
  background-image: url("../assets/c2.png");
  background-color: #eba95e;
  color: #eba95e;
}

.AddAdminContainer {
  text-align: center;
  border: solid;
  width: 50%;
  margin: 10% auto;
  background-color: #df9a4b;
}

.LoginContainer {
  text-align: center;
  border: solid;
  width: 300px;
  margin: 180px auto;
  background-color: #df9a4b;
}

.AddAdminContent {
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

.LoginContent {
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

.LoginInput {
  height: 20px;
}

.AddAdminGrid {
  margin: 0 auto;
}

.BtnLogin {
  border-radius: 12px;
  color: #df9a4b;
  background-color: #222;
  width: 40%;
}

.admin-main-div {
  min-height: 80vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30vw, 1fr));
  justify-items: center;
}

.admin-inner-div {
  flex: 1;
  height: 80vh;
  width: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.4s;
  cursor: pointer;
  font-size: 0rem;
  font-weight: bold;
  margin: 1rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.admin-inner-div:hover {
  font-size: 1.6rem;
  color: #fff;
  background-size: 0%;
}
.add-content {
  background-color: #eba95e;
  background-image: url("../assets/Add.png");
}
.add-content:hover {
  background-color: #df9a4b;
}
.edit-content {
  background-color: #bbb;
  background-image: url("../assets/Manage.png");
}
.edit-content:hover {
  background-color: #aaa;
}
.add-admin {
  background-color: #2586c7;
  background-image: url("../assets/addadmin.png");
}
.add-admin:hover {
  background-color: #186ea8;
}
.manage-admin {
  background-color: #2d50c5;
  background-image: url("../assets/Manage_Adm.png");
}
.manage-admin:hover {
  background-color: #2040a8;
}
.logout {
  background-color: #db4835;
  background-image: url("../assets/logout.png");
}
.logout:hover {
  background-color: #ce3c29;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.ManageAdminTableContainer {
}

.ManageAdminInput {
  width: 100%;
  box-sizing: border-box;
}

.modalContainer {
  position: fixed;
  z-index: 1;
  padding-top: 30%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* Modal Content */
.modalContent {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  text-align: flex-start;
  border: 1px solid #888;
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modalHeader {
  padding: 2px 16px;
  background-color: #df9a4b;
  color: white;
}

.modalBody {
  padding: 2px 16px;
}

.modalFooter {
  padding: 2px 16px 8px;
  background-color: #df9a4b;
  color: white;
  overflow: hidden;
}

.modalOKButton {
  border-radius: 12px;
  color: #df9a4b;
  background-color: #222;
  width: 20%;
  height: 30px;
  float: right;
  cursor: pointer;
}

.total-visitor {
  user-select: none;
  background-color: #ddd;
  transition-duration: 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  right: 0;
  font-size: 0px;
  height: 100px;
  position: fixed;
  width: 15px;
  border-top-left-radius: 20%;
  border-bottom-left-radius: 20%;
}

.total-visitor:hover {
  background-color: #222;
  width: 150px;
  font-size: 0.8rem;
  color: #ddd;
}
